@charset "UTF-8";
.zheart{
  position: absolute;
  height: 70px; 
  top: -107%;
  left : -30%; 
  opacity: 100%;
  cursor: pointer;
}

.comment-avatar{
	width: 70px;
	float: left;
	margin-top: 0px;
}

.RandB{
	margin-left: 5%;
	font-size: 80%;
}
.bestnumber {
	position: absolute;
	font-size: 35px;
	top: 0px;
	left: 25px;
	color: white;
	text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
	opacity: 90%;
}

#description{
	font: 400 15px/2 "GmarketSansMedium";
	
}