@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
}

#tabBox{
	margin: 100px 10px 0 10px;
}

#tabBox{
	height: 50%;
	text-align: center;
}

#nav{
	border-bottom: #c2c2c2 solid 1px;
	display:block;
}

#findID, #findPW, #fname, #fid{
	margin: 20px;
	box-sizing: border-box;
	width: 360px;
	height:45px;
	text-transform: none;
}

.emailBox{
	display: flex;
}

#femail, #femail2{
	width: 190px;
	box-sizing: border-box;
	float: left;
	margin: 5px 5px 20px 20px;
	height:45px; 
	text-transform: none;
}

#selectBox, #selectBox2 {
	width: 200px;
	box-sizing: border-box;
	float: right;
	margin: 5px 10px 20px 5px;
	height:45px;
	text-transform: none;
}

#Opt, #Opt2, #naver2, #naver2, #gmail, #gmail2, #hanmail, #hanmail2, #kakao, #kakao2{
	width: 200px;
	box-sizing: border-box;
	float: right;
	margin: 5px 10px 20px 5px;
	height:45px;
	text-transform: none;
}


#fidBox, #fpwBox{
 	text-align: center;
}

#yourId{
	text-align: center;
	font-size: x-large;
	font-weight: bolder;
}

#fidbtnBox, #fpwbtnBox{
	text-align: center;
	box-sizing: border-box;
	width: 250px;
	margin-left: 90px;
}

#fidbtn, #fpwbtn{
	background-color: black;
	color: white;
	border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 13px;
    cursor: pointer;
	width: 80%;
	text-align: center;
}