@charset "UTF-8";

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

.bestnumber {
	position: absolute;
	font-size: 35px;
	top: 0px;
	left: 25px;
	color: white;
	text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
	opacity: 90%;
}

.banner_title{
	color: black;
	font: 600 35px/1.3 "NanumBarunGothic"
}
.swiper-slide{
    list-style-type: none;
}

.best-title{
	text-align:left;
    color: black;
	font: 600 30px/1 "NanumBarunGothic"
}

.bestimg{
	height: 280px;
}

.shop-item-title {
  font-weight: 500;
  font-size: 15px;
  color: #111;
  margin: 17px 0 5px;
}



/* -------------------------------------------------------------------
General Styles - Owlcarousel
------------------------------------------------------------------- */
.owl-controls {
  margin-top: 40px;
}

.owl-pagination div {
  display: inline-block;
}

.owl-controls .owl-page span {
  background: transparent;
  border: 1px solid #111;
  display: block;
  height: 6px;
  width: 6px;
  margin: 0 3px 5px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out 0s;
}

.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
  background: #111;
}

.owl-controls .owl-buttons > div {
  display: inline-block;
  margin: 5px;
  font-size: 14px;
  color: #111;
}