<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.web.main.MainDAO">
 
	<select id="bannerlist" resultType="com.book.web.main.MainDTO">
		SELECT *
		FROM banner
		ORDER BY bano 
		ASC
	</select>
	
	<select id="rentlist" parameterType="Map" resultType="Map">
	     SELECT r.rno, r.bkno, b.bkwrite, b.bkimg, b.bkname, r.rsdate, r.rddate, r.rdel,
	     (select count(*) from rental where mid = #{mid} AND rdel = 1) as count
	     FROM rental r
		 LEFT JOIN books b ON r.bkno = b.bkno
		 WHERE r.mid = #{mid}
		 AND r.rdel = 1		
		 order by r.rsdate DESC
	</select>

</mapper>