<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.web.zzim.ZzimDAO">
 
   <!-- insertZzim 메서드에 대한 SQL 쿼리 -->
    <insert id="insertZzim" parameterType="map">
        INSERT INTO zzim (mid, bkno) VALUES (#{mid},#{bkno})
    </insert>
    
    <!-- deleteZzim 메서드에 대한 SQL 쿼리 -->
    <delete id="deleteZzim" parameterType="map">
        DELETE FROM zzim WHERE mid=#{mid} AND bkno = #{bkno}
    </delete>
    
    <select id="zzimBooklist" resultType="Integer">
        SELECT bkno
        FROM zzim
        WHERE mid = #{mid}
    </select>

</mapper>